.Dictionary Key Socket {
    background: green;
}

.node {
    width: 4rem;
}

.hidden-node-item {
    visibility: hidden;
}


.node:hover * {
    visibility: visible;
}

.bold-input {
    font-size: large;
    font-weight: bold;
}
